	body {
		background-image: url("../img/background.jpg");
		background-repeat: no-repeat;
		cursor: crosshair;
	}

	#main-container {
	}

	h3 {
		font-family: Arial, Helvetica, sans-serif;
		color: white;
	}

	#box-1 {
		width: 130px;
		height: 130px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 133px;
  			left: 270px;
	}

	#box-2 {
		width: 130px;
		height: 130px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 71px;
  			left: 478px;
	}

	#box-3 {
		width: 130px;
		height: 130px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 73px;
  			left: 724px;
	}

	#box-4 {
		width: 130px;
		height: 130px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 73px;
  			left: 1012px;
	}
	#box-5 {
		width: 130px;
		height: 130px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 372px;
  			left: 315px;
	}
	#box-6 {
		width: 130px;
		height: 130px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 280px;
  			left: 519px;
	}
	#box-7 {
		width: 130px;
		height: 130px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 296px;
  			left: 722px;

	}
	#box-8 {
		width: 130px;
		height: 130px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 276px;
  			left: 944px;
	}
	#box-9 {
		width: 130px;
		height: 130px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 490px;
  			left: 550px;
	}
	#box-10 {
		width: 121px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 465px;
  			left: 1022px;
	}

	#dj-kitty {
		width: 221px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 515px;
  			left: 750px;
  		cursor: pointer;
	}

	#cat-head {
		width: 140px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 70px;
  			left: 75px;
  		cursor: pointer;
	}

	#cat-belly {
		width: 180px;
		height: 250px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 250px;
  			left: 100px;
  		cursor: pointer;

	}

	#starter {
    	background-color: gray;
    	border-radius:0px;
    	width: 120px;
    	color: white;
    	font-family: 'Arial';
    	font-size: 24px;
	    text-decoration: none;
	    cursor: pointer;
	    border:none;
}



	#starter:hover {
    	border: none;
    	background:black;
    	box-shadow: 0px 0px 1px #777;
}

	.active {
		width: 125px;
		height: 125px;
		background-image: url('../img/cat1.gif');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}